
<!-- Page content -->
<div class="post-auth__content" *ngIf="domainId$ | async as domainId">
    <dyn-toolbar [user]="user$ | async"></dyn-toolbar>
    <dyn-side-menu *ngIf="domainId$ | async as domainId" class="sidemenu"></dyn-side-menu>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
<div *ngIf="!domainLoaded">
    <div class="domain__choice">

        <section class="section">
            <div class="domain__container">
                <div class="brand">
                    <div class="section__img"></div>
                    <h1>Dynki</h1>
                </div>
            </div>
            <div class="main">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <h1 class="ml2">Loading Funky Goodness</h1>
            </div>
            <div class="pic"></div>
        </section>
    </div>
        <!-- <div class="post-auth__loader">
        <div class="title">
            <h1>Dynki</h1>
        </div>
    </div> -->
           
</div>



