<form class="login" nz-form [formGroup]="form" (ngSubmit)="submit()" name="loginForm">
  <h1 class="login__heading">Log In</h1>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="username" name="username" required email [nzPlaceHolder]="'email'" [nzSize]="'large'" aria-label="enter email address">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="form.controls.username.dirty&&form.controls.username.hasError('required')">Please input your email!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input formControlName="password" name="password" required [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'" aria-label="enter password">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="form.controls.password.dirty&&form.controls.password.hasError('required')">Please input your Password!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control>
      <label nz-checkbox>
        <span>Remember me</span>
      </label>
      <a class="login--forgot" (click)="forgot()" aria-label="forgot password">Forgot password</a>
      <button nz-button name="loginBtn" [nzLoading]="(pending | async)" class="login__button" [nzType]="'primary'" 
        [nzSize]="'large'" type="submit" aria-label="Log in">Log in</button>
      Or
      <a (click)="register()" name="registerlink" aria-label="register now">sign up for free!</a>
    </div>
  </div>
  <button nz-button 
    name="resendBtn" 
    class="login__button" 
    *ngIf="(verificationError | async) !== undefined && (user | async).emailVerified !== true" 
    [nzLoading]="(pending | async)" 
    [nzType]="'default'" 
    [nzSize]="'large'" 
    type="button"
    (click)="resendEmail()"
    aria-label="resend verification email">Resend Verfification Email</button>
</form>