<section class="board__header">
    <form class="board__form" [formGroup]="boardForm" ngxsForm="app.board.boardForm" (ngSubmit)="onSubmit(boardForm)">
        <input 
            (blur)="commitChange()"
            (keyup.enter)="commitChange()"
            class="text__large--no-border board__form__description" 
            nz-input placeholder="Board Title" 
            nzSize="large" type="text" 
            formControlName="title">
        <input 
            (blur)="commitChange()"
            class="text--no-border" 
            nz-input placeholder="Add board description" 
            nzSize="small" 
            type="text" 
            formControlName="description">
        <button #formsubmit type="submit" hidden="true"></button>
    </form>
    <nz-dropdown class="board__menu" [nzPlacement]="'bottomRight'" [nzClickHide]="false">
        <button nz-dropdown nz-button nzType="default" nzShape="circle">
            <i class="anticon anticon-bars" ></i>
        </button>
        <ul nz-menu>
            <li nz-menu-item>
                <a nz-popconfirm [nzPlacement]="'bottomRight'" 
                nzTitle="Are you sure delete this board?" (nzOnConfirm)="deleteBoard(board)">Delete Board</a>
            </li>
        </ul>
    </nz-dropdown>
</section>
<section class="board__detail">
    <dyn-table-container *ngIf="board$ | async as board" [action]="rowAction" [row$]="row$" [columns]="board.columns"></dyn-table-container>
</section>
