<ul class="menu__submenu-item" (mouseenter)="buttonVisible=true" (mouseleave)="buttonVisible=false">
    <button *ngIf="subitem.button" (click)="itemClick(subitem.button.clickAction)" class="menu__submenu-item__button" [hidden]="!subitem.button || !buttonVisible" nz-button nz-tooltip nzType="primary" nzGhost [nzTitle]="subitem.button.title" nzPlacement="right" >
        {{subitem.button.caption}}
    </button>
    <li nz-menu-item style="height:40px;">
        <i *ngIf="subitem.icon" [attr.class]="subitem.icon"></i>
        <span>{{subitem.title}}</span>
    </li>
</ul>
    