<form class="board__form" [formGroup]="boardForm" ngxsForm="app.board.boardForm" (ngSubmit)="onSubmit(boardForm)">
    <input 
        (blur)="commitChange()"
        (keyup.enter)="commitChange()"
        class="text__large--no-border board__form__description" 
        nz-input placeholder="Board Title" 
        nzSize="large" type="text" 
        formControlName="title">
    <input 
        (blur)="commitChange()"
        class="text--no-border" 
        nz-input placeholder="Add board description" 
        nzSize="small" 
        type="text" 
        formControlName="description">
    <button #formsubmit type="submit" hidden="true"></button>
</form>
<div class="board__detail">
    <dyn-table-container [row$]="row$" [columns]="columns"></dyn-table-container>
</div>
