<!-- <div fxFlexFill fxLayout="row">
  <div class="grid dynki-really-dark-theme">
    <mat-card fxLayout="row" (click)="teamClicked(team)" class="detail-card" *ngFor="let team of teams; let i = index">
      {{team.name || 'blank'}}
    </mat-card>
  </div>

  <mat-sidenav-container class="example-container" *ngIf="shouldOpen">
      <mat-sidenav opened mode="over">Start content</mat-sidenav>
      <mat-sidenav opened mode="over" position="end">End content</mat-sidenav>
      Implicit main content
  </mat-sidenav-container>
</div> -->


<!-- <mat-card class="dyn-card-detail" fxLayout="column" fxFlexFill>
  <div class="dyn-detail-header dyn-pattern">
    <div>Teams</div>
  </div>
  <div class="dyn-margin-container example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="loadingIndicator || isRateLimitReached">
      <mat-spinner *ngIf="loadingIndicator"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>

    <mat-table fxFlexFill #table [dataSource]="dataSource" class="example-table" matSort matSortActive="createdDate" matSortDisableClear
      matSortDirection="asc">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
          Created
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.createdDate | date }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"></mat-row>
    </mat-table>

    <mat-paginator [length]="resultsLength" [pageSize]="30">
    </mat-paginator>
  </div>
</mat-card>
 -->