<mdc-app-bar class="app__navbar" #demoappbar fixed="true" [fixedAdjustElement]="appbarcontent" [short]="false">
    <mdc-app-bar-row>
        <mdc-app-bar-section align="start">
            <!-- <mdc-icon mdcAppBarNavIcon (click)="toggleMenu()">menu</mdc-icon> -->
            <div class="side-menu__img"></div>
            <mdc-app-bar-title class="post-auth__logo">{{app.title}}</mdc-app-bar-title>
        </mdc-app-bar-section>
        <mdc-app-bar-section align="end">
            <mdc-menu-anchor #demoanchor>
                <label id="userprofile-icon" class="toolbar__user-profile no-select" (click)="demomenu.open()">{{displayInitial}}</label>
                <mdc-menu #demomenu (select)="handleMenuSelect($event)" [anchor]="demoanchor" anchorCorner="bottom-start">
                    <!-- <mdc-menu-item id="0">My Profile</mdc-menu-item>
                    <mdc-menu-divider></mdc-menu-divider> -->
                    <mdc-menu-item id="3">Log Out</mdc-menu-item>
                </mdc-menu>
            </mdc-menu-anchor>
        </mdc-app-bar-section>
    </mdc-app-bar-row>

</mdc-app-bar>
