<mdc-app-bar class="app__navbar" #demoappbar [fixedAdjustElement]="appbarcontent" [short]="true">
    <mdc-app-bar-row>
        <mdc-app-bar-section align="start">
            <mdc-icon mdcAppBarNavIcon>menu</mdc-icon>
            <img class="side-menu__img">
            <mdc-app-bar-title class="post-auth__logo">{{app.title}}</mdc-app-bar-title>
        </mdc-app-bar-section>
        <mdc-app-bar-section align="end">
                <label class="toolbar__user-profile">{{displayInitial}}</label>
                <mdc-icon mdcAppBarActionItem>exit_to_app</mdc-icon>
        </mdc-app-bar-section>
    </mdc-app-bar-row>
</mdc-app-bar>
