<form class="confirm" nz-form [formGroup]="form" (ngSubmit)="submit()" name="confirmForm">
  <h1 class="confirm__heading">Confirm</h1>
  <h3 class="confirm__text">Enter the code emailed to you.</h3>
  <div nz-form-item>
    <div nz-form-control>
      <nz-input required name="code" aria-label="enter confirmation code" formControlName="code" [(ngModel)]="code" [nzPlaceHolder]="Code"></nz-input>
      <div nz-form-explain *ngIf="form.controls.code.dirty&&form.controls.code.hasError('required')">Please enter the code!</div>
      <button nz-button name="confirm" aria-label="confirm code" class="confirm__button" [nzType]="'primary'" [nzSize]="'large'" type="submit">Submit Code</button>
    </div>
  </div>
</form>

