<div fxFlex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <section fxFlex fxLayout="column" class="pre-auth">
        <header fxLayout="row">
            <figure class="pre-auth__brand" layout="row" layout-align="center center">
                <img class="pre-auth__img"src="./assets/img/logo.png"/> Dynki
            </figure>
        </header>
        <main fxFlex fxLayout="row" fxLayoutAlign="center center">
            <section class="pre-auth__cta" fxFlexOffset="240px;" fxLayout="column" fxHide.xs fxHide.sm>
                <h1 class="pre-auth__heading">Time tracking made easy</h1>
                <br/>
                <h1 class="pre-auth__heading">Keep track of your day</h1>
                <h2 class="pre-auth__sub-heading">Anywhere, Anytime</h2>
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="learnMore()">Learn more</button>
            </section>
        </main>
    </section>
    <aside fxLayout="row" fxLayoutAlign="center center">
        <router-outlet></router-outlet>
    </aside>
</div>
