<div class="pre-auth">
    <div class="pre-auth__section">
        <section class="pre-auth__header">
            <div class="img"></div>
            <h1>Dynki</h1>
        </section>
    </div>
    <div class="pre-auth__content">
        <main>
            <div class="pre-auth__cta">
                <h1>Track your tasks</h1>
                <br />
                <h1 class="pre-auth__heading">Keep track of your day</h1>
                <h2 class="pre-auth__sub-heading">Anywhere, Anytime</h2>
                <button class="pre-auth__button" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="signUp()">Sign
                    Up for Free!</button>
            </div>
        </main>
        <aside>
            <router-outlet></router-outlet>
        </aside>
    </div>
</div>