.table {

    &__row {

        &__cell {
            display: flex;
            align-items: center;
            text-align: left;
        }

        display: flex;
        height: 40px;
        align-items: center;
        text-align: left;
        border: none;
        border-bottom: solid;
        border-bottom-width: 1px;

    }
}