.post-auth {

    &__loader {
        .title {
            position: absolute;
            top: 7px;
            width: 100%;
            padding-left: 30px;
            padding-top: 24px;

            h1 {
                color: #fff;
            }
        }

        .ml2 {
            color: #fff;
        }

        background-color: #E8C3B9;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    &__logo {
        font-family: "Raleway", "Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif!important;
        font-weight: 400!important;
    }

    &__content {
        overflow: hidden;
        display: grid;
        grid-template-rows: 65px 1fr;
        grid-template-columns: 255px 1fr;
        min-height: 100vh;
        margin: 0;
              
        dyn-toolbar, footer {
            grid-column-start: 1;
            grid-column-end: span 3;
        }
        dyn-side-menu {
            grid-row-start: 2;
            grid-row-end: 3;
            overflow: hidden;

        }    

        main {
            padding-left: 4px;
            grid-column-start: 2;
            overflow: hidden;
            overflow-y: auto;
            height: calc(100vh - 63px);

            @supports (-ms-accelerator:true) {
                /* IE Edge 12+ CSS styles go here */ 
                height: 100vh!important;
            }

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                /* IE10+ CSS styles go here */
                display: block!important;
                margin-top: 60px!important;
                height: calc(100vh - 60px)!important;
            }
        }


        
    }
}


.spinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
