.text {
    &--no-border {
        border: none!important;
        font-size: 30px!important;
        padding: 0px!important;

        &:hover {
            border: dashed!important;
        }
    }
}

.choose-board {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(180px, 3fr) 9fr;
    grid-template-areas: "menu content";
    overflow: hidden;
    height: calc(100vh - 54px);
    
    dyn-menu {
        height: calc(100vh - 54px);
        grid-area: menu;
    }

    &__content {
        padding-left: 15px;  
        grid-area: content;
    }    

}

.dyn-modal-content {
    .ant-modal {
        padding: 0px;
        overflow: hidden;
    }

    .ant-modal-body {
        padding: 0px!important;
    }

    .ant-modal-content {
        height: 100%!important;
        border-radius: 0px;
    }
}
