.text, .text__large {
    &--no-border {
        border: none!important;
        border-radius: 1px!important;
        padding: 0px!important;

        &:hover {
            outline-width: 0px;
            border: dashed!important;
            border-width: 1px!important;
            cursor: pointer!important;
        }

        &:focus {
            outline-width: 0px!important;
            border: dashed!important;
            border-width: 1px!important;
        }
    }

}

.text__large--no-border {
    font-size: 30px!important;
}

.choose-board {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(180px, 3fr) 9fr;
    grid-template-areas: "menu content";
    overflow: hidden;
    height: calc(100vh - 54px);
    
    dyn-menu {
        height: calc(100vh - 54px);
        grid-area: menu;
    }

    &__content {
        padding-left: 15px;  
        grid-area: content;
    }    

}

.dyn-modal-content {
    .ant-modal {
        padding: 0px;
        overflow: hidden;
    }

    .ant-modal-body {
        padding: 0px!important;
    }

    .ant-modal-content {
        height: 100%!important;
        border-radius: 0px;
    }
}

.board {
    &__detail {
        margin-top: 40px;
    }

    &__form {
        padding: 10px;

        &__description {
            margin-top: 5px;
            margin-left: 2px;
        }
    }
}