.ql-container {
    height: calc(100% - 80px)!important;
    border: none!important;
}

.inbox {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 5fr;
    min-height: 100vh;
    margin: 0;
    height: 100%;
}

.msg {
    .from {
        height: 50px;
        border-bottom: 1px solid #e8e8e8;
        display: flex;
        justify-content: start;
        align-content: center;
        align-items: center;
        padding-left: 15px;

        .avatar {
            font-size: 20px;
            color: #fff;
            background: #3095DE;
            text-align: center;
            border-radius: 16px;
            width: 30px;
            height: 30px;
        }

        .name {
            padding-left: 15px;
            font-weight: bold;
        }
    }
}

.msglist {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    border-right: 1px solid #e8e8e8;
    height: 100%;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: center;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #e8e8e8;

        height: 50px;
        width: 100%;

        .select-heading {
            font-weight: bold;

        }

        .sort {
            .ant-select-selection {
                border: none!important;
            }
        }

        .switch {
            margin-left: auto;
        }
    }

    .msgs {
        height: calc(100vh - 100px);
        width: 100%;
        background: #F6F6F6;
        padding-left: 5px;
        padding-top: 5px;

        overflow-y: scroll;
        overflow-x: hidden; 
        
        &::-webkit-scrollbar-track
        {
            background-color: #F6F6F6;  
        }
    
        &::-webkit-scrollbar
        {
            width: 6px;
            background-color: #F6F6F6;
        }
    
        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
            background-color: #767676;
        }
    
    
        &__card {
            border-right: none;
            border-left: solid;
            border-left-color: #ffffff;
            cursor: pointer;

            &--selected {
                border-left-color: #3095DE!important;
                background: #E6F7FF!important;
            }

            &:hover {
                border-left-color: #FFD3AC;
                background: #FFF8F1;
            }


            .ant-card-body {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: start;
                align-items: start;
                padding-left: 15px;
                padding-right: 15px;

            }    
            .panel-left {
                width: 30px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-content: center;
                align-items: center;
                padding-top: 5px;
                margin-right: 15px;

                .avatar {
                    font-size: 20px;
                    color: #fff;
                    background: #3095DE;
                    text-align: center;
                    border-radius: 16px;
                    width: 30px;
                    height: 30px;
                }
            }

            .panel-right {
                width: 100%;

                .first-line {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-content: center;
                    align-items: center;
                    margin-bottom: 10px;

                    .from {
                        font-size: 12px;
                    }

                    .created {
                        margin-left: auto;
                    }
                }

                .subject {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-content: center;
                    align-items: center;

                    nz-badge {
                        padding-left: 10px!important;
                        padding-bottom: 7px!important;
                    }
                }
            }
        }
    }
}