.login {
    max-width: 400px;
    min-height: 378px;
    background-color: #ffffff;
    padding: 36px;
    
    &--forgot {
        float: right;
    }

    &__button {
        width: 100%;
        margin-bottom: 20px;
    }

    &__heading {
        color: $primary-color;
        font-family: $font-family;
        font-size: 34px;
        margin-bottom: 20px;
    }
}

.registration {
    width: 400px;
    background-color: #ffffff;
    padding: 36px;
    
    &__button {
        width: 100%;
        margin-bottom: 20px;
        background-color: $green!important;
        border-color: $green!important;
        margin-bottom: 7px!important;

        &:hover{
            background-color: $light-green!important;
            border-color: $light-green!important;
        }
    }


    &__heading {
        color: $primary-color;
        font-family: $font-family;
        font-size: 34px;
        margin-bottom: 20px;
    }
}
