.timer {
    margin-bottom: 20px;
    margin-top: 10px;
    height: 40px;
    height: calc(100% - 94px);
    z-index: 1;
    width: 100%;
    min-width: 265px;
    overflow-x: hidden;

    &__description {

        input {
            border-radius: 0px!important;
            margin-top: 10px!important;
            height: 40px;
            font-size: 23px!important;
        }
    }

    &__counter {
        display: flex;
        justify-content: center;
        font-size: 12px;
        border: solid;
        background-color: $primary-color;
        color: #ffffff;
        border-color: #c8c8c8;
        margin-top: 10px;
        height: 40px;
        padding-top: 10px;
    }

    &__button {
        margin-top: 10px!important;
        border-radius: 0px!important;
        height: 40px!important;
        font-size: 23px!important;
        width:100%;
        background-color: $green!important;
        border-color: $green!important;
    }
}
