$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;

@import "~@angular-mdc/theme/material";


// Colours

$logo-color: #f6f9fa;
$primary-color: #3095de;
$primary-color-dark: darken($primary-color, 20%);
$strapbox-headline-color: #e3f2f4;
$strapbox-subheading-color: #e3f2f4;
$transparent-black: rgba(0, 0, 0, 0.45);

$green: #0ca959;
$light-green: lighten($green, 5%);

// Fonts
$font-family: 'Raleway', 'Open Sans', sans-serif!important;

// Logo
$logo-font-size: 30px;

//$logo-background-color: #205081;
$logo-font-size-large: 44px;

$strapbox-background-color: rgba(0, 0, 0, 0.45);

body {
    font-family: 'Raleway', sans-serif!important;
    overflow: hidden;
}

