.ant-layout-sider-collapsed .nav-text {
    display: none;
}

.ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
}
  
.ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    right: 7px!important;
}

.ant-menu-submenu-arrow {
    right: 50px!important;
}