dyn-post-auth {
  height: 100%!important;
}

.ant-menu-submenu-title {
  &:after {
    right: 0px!important;
  }
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}
.ant-menu-inline, .ant-menu-vertical {
  border-right: none;
}

  .ant-menu-submenu-vertical {
    .ant-menu-submenu-title {
      &:after {
        display: none;
      }
    }
  }
    .ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider-collapsed .dyn-heading {
  display: none;
}

.ant-layout-sider {
  background: #ffffff;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #ececec;
}

.dyn-logo{
  width: 42px;
  height: 46px;
  padding-top: 12px;
  margin-left: 15px;
}

.dyn-heading{
  padding: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #fff;
} 


.dyn-sidenav{
  background-color: #4b4b4b;
  width: 240px;
}

.dyn-menu-item{
  width: 100%;
  text-align: left;
  height: 48px;
}

.dyn-menu-item-text{
  color: #ffffff;
  padding-left: 10px;
}

.dyn-sidebar-shadow{
  -webkit-box-shadow: 0px 13px 22px -2px rgba(214,214,214,1);
  -moz-box-shadow: 0px 13px 22px -2px rgba(214,214,214,1);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: -1;  
}


.shell {
    background-color:#595959;
}

