<div class="side-menu" fxFlex fxLayout="column">
    <ul>
        <li>
            <span>
                <mdc-icon fontIcon="list">menu</mdc-icon>
                <span mdcSubtitle1>Boards</span>
            </span>
            <ul>
                <li mdcSubtitle2>Tom</li>
                <li mdcSubtitle2>Bill</li>
                <li mdcSubtitle2>Alex</li>
            </ul>
        </li>
        <li>
            <span>
                <mdc-icon fontIcon="list">menu</mdc-icon>
                <span mdcSubtitle1>Boards</span>
            </span>
            <ul>
                <li mdcSubtitle2>Tom</li>
                <li mdcSubtitle2>Bill</li>
                <li mdcSubtitle2>Alex</li>
            </ul>
        </li>
    </ul>
</div>