<ng-content></ng-content>
<ng-template
  #overlay="cdkConnectedOverlay"
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayHasBackdrop]="_hasBackdrop"
  (backdropClick)="hide()"
  (detach)="hide()"
  (positionChange)="onPositionChange($event)"
  [cdkConnectedOverlayPositions]="_positions"
  [cdkConnectedOverlayOpen]="visible$ | async">
  <div class="ant-popover dyn-select__container" [ngClass]="_classMap" [ngStyle]="nzOverlayStyle">
    <div class="ant-popover-content">
      <div class="ant-popover-arrow"></div>
      <div class="ant-popover-inner pop__select">
        <div>
          <div class="ant-popover-inner-content dyn-select__content">
            <div class="ant-popover-message">
              <ng-container>
                <div class="ant-popover-message-title dyn-select__msgtitle">
                    <div *ngFor="let col of column.values; index as i;">
                        <div 
                          *ngIf="!editMode"
                          class="dyn-select__item"
                          (click)="onClick(col)"
                          [ngStyle]="{'background-color': '#'+col.color}">{{col.title}}
                        </div>
                        <input 
                          *ngIf="editMode"
                          class="dyn-select__text"
                          tabindex="0"
                          [ngStyle]="{'background-color': '#'+col.color}"
                          (blur)="dispatchAction(col)"
                          [(ngModel)]="col.title"
                        #text>
            
                    </div>
                </div>
              </ng-container>
            </div>
            <div>
                <button (click)="toggleEditMode()" nzTitle="edit labels" nzPlacement="right" nz-button nz-tooltip>
                    <i nz-icon *ngIf="editMode" type="edit" theme="outline"></i>
                    <i nz-icon *ngIf="!editMode" type="edit" theme="fill"></i>
                </button>
            </div>
            <div class="ant-popover-buttons">
              <button nz-button [nzSize]="'small'" (click)="onCancel()">
                <ng-container *ngIf="nzCancelText">{{ nzCancelText }}</ng-container>
                <ng-container *ngIf="!nzCancelText">{{ 'Modal.cancelText' | nzI18n }}</ng-container>
              </button>
              <button nz-button [nzSize]="'small'" [nzType]="nzOkType" (click)="onConfirm()">
                <ng-container *ngIf="nzOkText">{{ nzOkText }}</ng-container>
                <ng-container *ngIf="!nzOkText">{{ 'Modal.okText' | nzI18n }}</ng-container>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>