<!-- <div fxFlexFill fxLayout="row" class="dyn-card">
    <mat-card fxLayout="column" fxFlexFill class="flex-container dyn-card-bg dyn-card-detail" *ngIf="team">
      <div fxLayout="row" class="dyn-btn-container" fxLayoutAlign="end center">
        <label class="dyn-card-header">Team</label>
        <span fxFlex></span>
        <button mat-mini-fab color="primary" (click)="saveTeam()" class="dyn-save-button"><mat-icon class="dyn-icons-grey" svgIcon="save"></mat-icon></button>
        <button mat-mini-fab color="warn" (click)="deleteTeam()"><mat-icon class="dyn-icons-grey" svgIcon="delete"></mat-icon></button>
      </div>
      <form [formGroup]="teamForm" novalidate fxLayout="column" fxLayoutGap="10px" class="dyn-form">
        <mat-card fxLayout="row">
          <mat-form-field fxFlex>
            <input matInput placeholder="Name" formControlName="name" />
          </mat-form-field>
        </mat-card>
      </form>
    </mat-card>
  </div> -->