<form class="registration" nz-form [formGroup]="form" (ngSubmit)="submit()" name="registerForm">
  <h1 class="registration__heading">Sign Up for Free</h1>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-user" nzSize="large">
        <input type="text" nz-input formControlName="username" placeholder="Username" nzRequired>
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('username').dirty && form.get('username').errors">Please input your username!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-lock" nzSize="large">
        <input type="password" nz-input formControlName="password" placeholder="Password" nzRequired>
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors">Please input your Password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <div class="buttons">
      <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="agree" class="agree" nzRequired>
                <span>Agree to terms</span>
            </label>
          </nz-form-control>
      </nz-form-item>
      <button class="domain__btn" nz-button [nzSize]="'Large'" nzType="dashed" [nzLoading]="(pending$ | async)" type="submit">
          Create Account<i nz-icon type="check" theme="outline"></i>
      </button>
    
      <!-- <button nz-button name="registerBtn" [nzLoading]="(pending | async)"  class="registration__button" [nzType]="'primary'" [nzSize]="'large'" type="submit" aria-label="register">Create Account</button> -->
      <div>
          Or
          <a (click)="goToLogin()" name="gotoLogin" aria-label="go to login">return to login</a>
      </div>
  </div>
</form>

