@import './src/styles/settings.global';
@import './src/styles/tools.mixins';

@import './src/styles/components.buttons';
@import './src/styles/components.footer';
@import './src/styles/components.login';
@import './src/styles/components.pre-auth';
@import './src/styles/components.side-menu';
@import './src/styles/components.timer';
@import './src/styles/components.toolbar';

@import './src/styles/trumps.ant-overrides';
@import './src/styles/trumps.flex';