<ul class="menu__submenu-item dragcontainer" (mouseenter)="buttonVisible=true" (mouseleave)="buttonVisible=false">
    <i [hidden]="!buttonVisible" class="draghandle anticon anticon-arrows-alt"></i>
    <span [hidden]="buttonVisible" class="spacer"></span>
    <button 
        *ngIf="subitem.button" 
        [hidden]="!subitem.button || !buttonVisible" 
        (click)="itemBtnClick(subitem.button.clickAction)" 
        class="menu__submenu-item__button" 
        nz-button 
        nz-tooltip 
        nzType="primary" 
        nzGhost 
        [nzTitle]="subitem.button.title" 
        nzPlacement="right" >
        {{subitem.button.caption}}
    </button>
    <li nz-menu-item style="height:40px;" (click)="itemClick(subitem.clickAction)">
        <i *ngIf="subitem.icon" [attr.class]="subitem.icon"></i>
        <span>{{subitem.title}}</span>
    </li>
</ul>
