<button 
    *ngIf="menuitem.button" 
    nz-button 
    nz-tooltip
    nzType="dashed"
    [nzTitle]="menuitem.button.title"
    nzPlacement="right"
    nzShape="circle" 
    (click)="dispatchBtnAction(menuitem)"    
    class="menu__item__button">
    <i *ngIf="menuitem.button.icon" nz-icon [type]="menuitem.button.icon" theme="outline"></i>
</button>
<li *ngIf="menuitem.items" nz-submenu [nzOpen]="menuitem.isSelected" class="menu__item" >
    <span title>
        <!-- <i *ngIf="menuitem.icon" [attr.class]="menuitem.icon"></i> -->
        <i *ngIf="menuitem.icon" nz-icon [type]="menuitem.icon" theme="outline"></i>
        <span>{{menuitem.title}}</span>
    </span>
    <div class="menu__item__subitems" dynSortable [selector]="'dyn-sub-menu'" [data]="menuitem.items" (stop)="updateMenu($event)">
        <ng-container *ngFor="let subitem of menuitem.items">
            <dyn-sub-menu *ngIf="!subitem.isFolder" [subitem]="subitem" [parentName]="menuitem.title"></dyn-sub-menu>
            <dyn-folder-item dynSortable [selector]="'ul'" *ngIf="subitem.isFolder" [folderItem]="subitem"></dyn-folder-item>
        </ng-container>
    </div>
    <!-- <dyn-sub-menu *ngIf="menuitem.foldersAllowed" [subitem]="folderitem"></dyn-sub-menu> -->
</li>
<li *ngIf="!menuitem.items" nz-menu-item (click)="itemClick(menuitem.clickAction)">
    <span class="menu__item__title" title>
        <i *ngIf="menuitem.icon" nz-icon [type]="menuitem.icon" theme="outline"></i>
        <span>{{menuitem.title}}</span>
        <nz-badge *ngIf="menuitem.badgeCount > 0" class="menu__item__badge" [nzCount]="menuitem.badgeCount" nzDot="false">
        </nz-badge>
    </span>
</li>
  
