<button 
    *ngIf="menuitem.button" 
    nz-button 
    nz-tooltip
    nzType="dashed"
    [nzTitle]="menuitem.button.title"
    nzPlacement="right"
    nzShape="circle" 
    (click)="dispatchBtnAction(menuitem)"    
    class="menu__item__button">
        <i [attr.class]="menuitem.button.icon"></i>
</button>
<li *ngIf="menuitem.items" nz-submenu [nzOpen]="menuitem.isSelected" class="menu__item" >
    <span title>
        <i *ngIf="menuitem.icon" [attr.class]="menuitem.icon"></i>
        <span>{{menuitem.title}}</span>
    </span>
    <div *ngFor="let subitem of menuitem.items" [dragula]="menuitem.title">
        <dyn-sub-menu *ngIf="!subitem.isFolder" [subitem]="subitem" [parentName]="menuitem.title"></dyn-sub-menu>
        <dyn-folder-item *ngIf="subitem.isFolder" [folderItem]="subitem"></dyn-folder-item>
    </div>
    <dyn-sub-menu *ngIf="menuitem.foldersAllowed" [subitem]="folderitem"></dyn-sub-menu>
</li>
<li *ngIf="!menuitem.items" nz-menu-item>
    <span title>
        <i *ngIf="menuitem.icon" [attr.class]="menuitem.icon"></i>
        <span>{{menuitem.title}}</span>
    </span>
</li>
  
